<div class="card-container">
    <mat-card class="login-card">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div *ngIf="!isLoading">
            <mat-card-title color="primary">Login
            </mat-card-title>
            <mat-card-subtitle>Please enter valid username and password
            </mat-card-subtitle>
            <mat-card-content>
                <form class="login-form">
                    <mat-form-field>
                        <input matInput placeholder="User Id" [(ngModel)]="userId" name="userId">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" [disabled]="isLoading" (click)="onLoginClick()">Login</button>
                <button mat-stroked-button color="warning" (click)="onLogoutClick()">Logout Windows</button>
            </mat-card-actions>
        </div>
        
    </mat-card>
</div>
<div *ngIf="isLoading" class="loading-overlay">

</div>
