.top-details {
    .revenue, .orders {
        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .result-body {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
                padding: 6px 0px;
                .label {
                    text-transform: uppercase;
                    font-size: 0.7rem;
                }
                .result {
                    color: green;
                    font-weight: bold;
                }
            }
        }
        .orders {
            .result-body {
                div .result {
                    color: brown;
                }
            }
        }
    }
}