/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.mat-stroked-button > .mat-button-wrapper > .material-icons  {
  vertical-align: -6px ;
}


// ag-grid things
app-bill-print-details .ag-theme-material .ag-cell {
  line-height: 30px;
}
