
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <i class="material-icons">menu</i>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeView(VIEWS.billEntry)">
        <span>Bill Entry</span>
      </button>
      <button mat-menu-item (click)="changeView(VIEWS.adminReports)">
        <span>Admin Reports</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  <span>NoCo Bill Management ({{ entryUser }})</span>
  <span class="spacer"></span>
  <button mat-icon-button >
    <i class="material-icons">search</i>
  </button>
  <button mat-icon-button (click)="logout()">
      <i class="material-icons">eject</i>
  </button>
  
  <button mat-stroked-button (click)="logoutWindows()">Logout Windows</button>
  <button mat-stroked-button (click)="shutdownWindows()">Shutdown</button>
  <button mat-stroked-button (click)="rebootWindows()">Reboot</button>
</mat-toolbar>
<div class="home-body">
    <app-bill-entry *ngIf="currentView === VIEWS.billEntry"></app-bill-entry>
    <app-admin-report *ngIf="currentView === VIEWS.adminReports"></app-admin-report>
</div>
