<div class="bill-addition-container">
    <form>
        <mat-form-field class="new-bill-type">
            <input type="text" placeholder="Table Number / Customer Type" aria-label="String" 
                matInput [formControl]="newBillEntryControl" [matAutocomplete]="autoEntry" #billEntryAddition="matInput">
            <mat-autocomplete autoActiveFirstOption #autoEntry="matAutocomplete">
                <mat-option *ngFor="let option of filteredEntryType | async" [value]="option" >
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-stroked-button [disabled]="!newBillEntryButtonEnabled" color="primary" (click)="newBillEntryClick()"><i class="material-icons">add</i> Start New Bill</button>
    </form>
</div>
<div class="bill-list-details-container">
    <div class="bill-list-container">
        <mat-nav-list>
            <h3 mat-subheader><span *ngIf="isActiveBillsLoading">Loading</span>&nbsp;Active Bills <span *ngIf="runningBills">({{ runningBills.length }})</span></h3>
            <mat-progress-bar *ngIf="isActiveBillsLoading" mode="indeterminate"></mat-progress-bar>
            <mat-list-item *ngFor="let bill of runningBills"
                [ngClass]="{'is-active': bill.isSelected, 'overdue': bill.isOverdue}"
                (click)="showBillDetails(bill)">
                <i matListIcon class="material-icons">assignment</i>
                <div matLine class="bill-name">
                    <span class="name"> Bill #{{ bill.billEntryId }} 
                        <span class="customer-type">({{ bill.customerType }})</span>
                    </span>
                </div>
                <span class="spacer"></span>
                <div class="cost-time-container">
                    <span class="cost" *ngIf="bill.currentTotalCost"> Rs. {{ bill.currentTotalCost | number: '1.0-0' }}</span>
                    <span class="time">{{ bill.startTime | date:'MMM d, y, h:mm a' }}</span>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="bill-details-container" #parentContainer>
        <h3 class="mat-subheader">Bill Details </h3>
        <form class="keyboard-entry-form">
            <mat-form-field class="item-entry">
                <input type="text" placeholder="Add New Item" aria-label="String" 
                    matInput [formControl]="newMenuItemControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption 
                [displayWith]="menuItemValueDisplayFunc"
                (optionSelected)="newMenuItemChange($event)" #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredMenuList | async" [value]="option" >
                        {{ option.menuItem }} ({{ option.menuCode }})
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="promo-code-entry">
                <input type="text" placeholder="Promo Code" aria-label="String" 
                    matInput [formControl]="promoCodeControl" #promoCodeInput
                     [matAutocomplete]="autoPromo">
                <mat-autocomplete [displayWith]="promoItemValueDisplayFunc" autoActiveFirstOption
                    (optionSelected)="promoCodeSelected($event)" #autoPromo="matAutocomplete">
                    <mat-option *ngFor="let option of filteredPromoCode | async" [value]="option" >
                        <span *ngIf="option">{{ option.promoCode }}</span>
                    </mat-option>
                    <mat-option>None</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <ag-grid-angular
            class="ag-theme-material"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            >
        </ag-grid-angular>
        <div class="total-print-section">
            <div class="total-section">
                <span class="promo" *ngIf ="appliedPromoCode">
                    <span class="label">Discount ({{ appliedPromoCode.promoDiscountPercent }}%): </span> 
                        Rs. {{ (total * appliedPromoCode.promoDiscountPercent / 100) | number: '1.0-0' }}
                </span>
                <span class="gst">
                    <span class="label">SGST (2.5%):</span> Rs. {{ sgstTotal | number: '1.0-0' }}
                </span>
                <span class="gst">
                    <span class="label">SGST (2.5%): </span> Rs. {{ cgstTotal | number: '1.0-0' }}
                </span>
                <span class="total">
                    <span class="label">Total:</span> Rs. {{ total | number: '1.0-0' }}
                </span>
            </div>
            <span class="spacer"></span>
            <button mat-stroked-button color="primary" (click)="completeAndPrint()"><i class="material-icons">print</i> Complete and Print</button>
        </div>
        <div class="overlay" *ngIf="billDetailsOverlayMessage !== ''">
            <mat-spinner *ngIf="billDetailsOverlayMessage === 'Loading bill details...'"></mat-spinner>
            <h3 *ngIf="billDetailsOverlayMessage !== 'Loading bill details...'">{{ billDetailsOverlayMessage }}</h3>
        </div>
    </div>
</div>